body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    text-align: justify;
}
.name{
    color: darkorange;
    font-size: larger;
}
section{
    display: flex;
}
.face-value{
    width: 50%;
    padding-left: 10%;
    background-color: lightblue;
}
.face-value img{
    width: 40%;
    padding-left: 0%;
    margin: 5%;
}
.face-value1{
    padding-top: 2%;
    background-color: lemonchiffon;
    padding-left: 10%;
    padding-right: 20%;
    margin-top: 5% ;
    text-align: center;
}
.face-value1 img{
    padding-top: 2%;
    width: 300%;
    padding-left: 0%;
    padding-bottom: 30%;
    margin-right: 5%;
    margin-top: 10%;
}
#skill{
    margin: 5%;
    padding: 0% 5%;
    background-color: lightsalmon;
}
.face-value2{
    width: 50%;
    padding-left: 0%;
    padding-right: 10%;
}
.face-value2.1{
    padding-left: 0%;
    padding-right: 15% ;
    margin
}
.academic{
    margin: 5%;
    padding: 0;
    background-color: lightcoral;
}
.Personal{
    margin: 5%;
    padding: 0;
    background-color: lightsalmon;
}
footer{
    text-align: center;
}
.link-button1{
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 169, 71) ,rgb(255, 123, 0));
    padding: 10px ;
    border-radius: 10px;
    
}
.link-button2{
    text-decoration: none;
    background-image: linear-gradient(rgba(255, 221, 71, 0.959) ,rgb(255, 102, 0));
    padding: 10px ;
    border-radius: 10px;
   
}